<div class="row startingRow m-0">
    <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 p-1">
        <p>Live Tracking</p>
    </div>
    <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2  p-1">
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Search here" autocorrect="off" autocapitalize="off" spellcheck="off">
                <i class="fa fa-search" aria-hidden="true"></i>
            </mat-form-field>
        </form>
    </div>
    <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 p-1">
        <mat-form-field>
            <mat-select placeholder="Vehicle Groups">
                <mat-option *ngFor="let Vehicle of vehicleList">
                    {{Vehicle.villageName}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2  p-1">
        <mat-form-field>
            <mat-select placeholder="Trip status">
                <mat-option *ngFor="let trip of trips" [value]="trip.value">
                    {{trip.place}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1  p-1">
        <a href=""> +More</a>
    </div>
</div>
<div class="row m-0">
    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 p-0">
       <!-- <div class="row">
           <div>{{data.vehicleRegistrationNumber}}
           <span style="float:right;">{{data.gpsState.state}}</span>
           </div>
           <div>
               <div>{{data.source}}</div>
               <div>{{data.vtsState.address}}</div>
           </div>
       </div> -->
    </div>
    <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 p-0">
        <agm-map [latitude]="lat" [longitude]="lng"
         [zoom]="zoom" 
         [disableDefaultUI]="false" 
         [zoomControl]="false"
         [styles]="styles" 
         (mapClick)="mapClicked($event)">

            <agm-marker src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m"
                *ngFor="let m of markers; let i = index" 
                (markerClick)="clickedMarker(m.label, i)" 
                [latitude]="m.lat"
                [longitude]="m.lng" 
                [label]="m.label" 
                [markerDraggable]="m.draggable" 
                (dragEnd)="markerDragEnd(m, $event)">

                <agm-info-window>
                    <strong>InfoWindow content</strong>
                </agm-info-window>
            </agm-marker>
            <agm-polygon [paths]="polygon"></agm-polygon>
        </agm-map>
    </div>
</div>